*{
    box-sizing: border-box;
}

body{ 
    margin: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a,
a:hover,
a:active{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin:0;
}

li{
    list-style: none;
    text-decoration: none;
}

input,
button,
textarea{
    outline: none;
    border: none;
    cursor: pointer;
}

header,
section,
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




/****************************************************************************************************/




header{
    flex-direction: row;
    justify-content: space-between;

    background-color: rgb(255, 255, 255);
    height: 75px;
    width: 100%;
}

img.logo{
    margin-left: 100px;
}

ul.menu{
    font-size: 14px;
    color: rgb(150, 166, 167);
    text-transform: uppercase;
    line-height: 1.714;

    height: 100%;
}

li.menu_item{
    margin: 0 20px 0 20px;
}

ul.menu > form{
    height: 100%;
    width: 100%;
}

button.navigation_search{
    background-color: rgb(226, 222, 224);
    width: 74px;
    height: 100%;
}

button.login{
    background-color: rgb(233, 78, 56);
    width: 317px;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}

.login > img{
    margin-right: 15px;
}

.login > p{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.714;
    text-align: left;
}





/****************************************************************************************************/





section.after_header{
    background-color: #c54e86;
}

.after_header > h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(0, 0, 1, 0.15);
}













