
body{
  background: #f6f6f6;
}

.container{
  width: 1009px;
  height: 502px;
  margin:86px 95px 85px 96px;
  background: #fff;

  border: 1px solid #efefef;
}

img{
  float: left;

  margin: 47px 0 0 128px;
  display: inline-block;
}

.content{
  float: left;
  padding: 94px 0 0 0 ;
  margin: 0;
  display: inline-block;
  width: 400px;
}

h1{
  font-size: 24px;
}

.description{
  font-size: 15px;
}

.price{
  font-size: 30px;
}

button{
  width: 251px;
  height:50px;
  background: #ec744a;

  padding: 0 auto;
  color:white;
  font-size: 17px;

  border: none;
}
